.imageN {
    max-width: 100% !important;
    width: 130px !important;
}

.imageOutgoing {
    max-width: 69% !important;
}

.imageTranOut {
    max-width: 60% !important;
}

.inCommingCard {
    background-image: url('../image/bg_income.jpg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% 100%;  /* LOL */
}

img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.containerImage {
    position: relative;
    text-align: center;

}

.centeredTextIMG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vh;
}
h3 {
    font-size: 3.0vh;
}

p {
    font-size: 1.9vmin;
}


/* Circular */
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 300;
    height: 300;
    border-radius: 35px;
    text-align: center;
}

/* Circular END */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    /* overflow-y: hidden; 
    overflow-x: hidden;  */
    -webkit-scrollbar-display: none;
    /* Safari and Chrome */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: hidden;
   
    
}

html {
    overflow: scroll;
    overflow-x: hidden;
    
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;

}